################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RFramework.ServiceClient/RFramework.ServiceClient.nuspec
/RFramework.ServiceClient/RFramework.ServiceClient.1.0.1.0.nupkg
